<!DOCTYPE html>
<html class = "all"lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/hw-1/styles/about_me.css" >
    <title>HW1</title>
</head>
<body>
    <div class = "nav_bar">
        <link rel="stylesheet" href="/hw-1/styles/nav_bar.css" >
        <ul>
            <li><a href="/hw-1/main.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </div>


    <div class = "self">
        
        <div class = "column">
            <img src = "/hw-1/images/self.png" class = "self-pic">
        </div>

        <div class = "column">
          <ul>
            <h1>About me:</h1>
            <p>Hello I am Jack Wong and I am currently a UMBC Student.</p>
            <p>Everything on this about me page is mostly not true its mostly just to giggle and make some laughs</p>
            <p>I also have a brother who I will describe by showing the skills of which i have bested him in.</p>
            <p>I am a level 70 dark wizard in world of warcraft with the sword of a thousand truths, I currently have 15837 boar kills and spent the entire 4th grade playing world of warcraft. I once saved the world [of warcraft] from an evil hacker that killed noobs in the plains of azaroth.</p>
          </ul>
        </div>
    </div>

    <div class = "skills">
      <div class = "column">
        <ul>
          <h1>Skills:</h1>
          <li>Defeating my older brother in a turkey leg eating competition</li>
          <li>Being able to cook minute rice in 58 seconds with a simple trick</li>
          <li>Retrieving enough crabs to feed my brother</li>
          <li>Once devoured 2 family sized portions of frozen lasagna</li>

        </ul>
      </div>

      <div class = "column">
        <img src = "/hw-1/images/crackhead.jpg" class = "crackhead_brother">
      </div>
    </div>

    <div class = "self">
        
      <div class = "column">
          <img src = "/hw-1/images/cat1.jpg" class = "cat-pic">
      </div>

      <div class = "column">
        <ul>
          <h1>Cat:</h1>
          <p>Taken from the streets and into our furever home.</p>
          <p>Feline capable of scaring a 100lb dog and f</p>
          <p>Retrieving enough crabs to feed my brother</p>
          <p>Once devoured 2 family sized portions of frozen lasagna</p>        
        </ul>
      </div>
  </div>




</body>
</html>